In [1]:
import pandas as pd
import numpy as np

In [10]:
# Task 1
#Calculate the average age of the employees in the IT firm.

data= np.genfromtxt(r"C:\Users\Jishanth M I\Downloads\DS1_C4_S1_Employee_Data_Challenge.csv", delimiter=',',skip_header=1)

average_age = np.mean(data[:,1])

print("average age of employees in the IT firm: ", average_age)

average age of employees in the IT firm:  28.26

In [12]:
# Task 2
#Display the employee IDs/code of those employees who are over 25 years of age. Find the count of these employees.

over_25 = data[data[:, 1] > 25]

employee_codes = over_25[:, 0]

count = employee_codes.shape

print("Employees over 25 years old: ", employee_codes) 
print("Count of employees over 25 years old:", count)

Employees over 25 years old:  [ 2.  3.  4.  5.  6.  7.  9. 10. 11. 12. 14. 15. 16. 17. 20. 21. 22. 24.
 25. 26. 27. 28. 29. 30. 31. 32. 33. 37. 38. 40. 41. 42. 43. 44. 45. 46.
 49. 50.]
Count of employees over 25 years old: (38,)

In [13]:
# Task 3
#Calculate the total number of employees who are in the age group of 30-35 years.
#Display the employee IDs/codes of these employees.


#Finding employees between 30 and 35 years old
over_30_to_35= data[(data[:, 1] >= 30) & (data[:, 1] <= 35)]

# Getting employee IDs 
employee_codes = over_30_to_35[:, 0]

# Getting number of employees 
num_employees= employee_codes.shape[0]

print("Number of employees between 30 and 35 years old:", num_employees) 
print("Employees between 30 and 35 years old: ", employee_codes)

Number of employees between 30 and 35 years old: 12
Employees between 30 and 35 years old:  [ 3. 10. 15. 16. 32. 41. 42. 43. 44. 45. 49. 50.]