In [1]:
import pandas as pd
import numpy as np

In [2]:
# Task 1
#The price of 20 such cars is between $30,000 and $100,000 for each car. The price data is provided as a list in the Jupyter notebook

price_data = [80121, 48483, 37077, 30660, 68536, 52666, 78703, 51036, 55643, 56990, 39967, 93822, 51406, 93947, 78373, 62765, 47536, 40528, 58780, 83197]
row_indexes = np.arange(101, 121)

price_series = pd.Series(price_data, index=row_indexes)

print(price_series)

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
dtype: int64

In [3]:
# Task 2
#Identify the row indexes and prices of the cars with the highest price and the lowest price.

lowest_price=price_series.sort_values(ascending= True)[0:1]
lowest_price
print("Car with lowest price:",lowest_price)

highest_price=price_series.sort_values(ascending= True)[-1:]
highest_price
print("Car with highest price:",highest_price)

Car with lowest price: 104    30660
dtype: int64
Car with highest price: 114    93947
dtype: int64

In [4]:
# Task 3
#Display the price of the top 5 cars with highest value, along with their row index

highest_price_car=price_series.sort_values(ascending= True)[-5:]
print("Top 5 cars with highest value: ")
highest_price_car

Top 5 cars with highest value:

107    78703
101    80121
120    83197
112    93822
114    93947
dtype: int64

In [6]:
# Task 4
#Display the prices of all cars priced between $30-40k along with the row indexes. Calculate and display the count of these cars.

filtered_cars = price_series[price_series.between(30000,40000)]
filtered_cars2 = price_series[price_series.between(30000,40000)].shape[0]
print("count is: ",filtered_cars2)
print("car between 30000 and 40000: ",filtered_cars)

count is:  3
car between 30000 and 40000:  103    37077
104    30660
111    39967
dtype: int64

In [8]:
# Task 5
#Display the prices and row indexes of those cars that are priced above the average price of all cars. Display the count of such cars.

average_price = price_series.mean()
average_price_cars = price_series[price_series > average_price]
average_price_cars1=  price_series[price_series > average_price].shape[0]
print("count is: ",average_price_cars1)
print("prices of cars that are above average: ",average_price_cars)

count is:  8
prices of cars that are above average:  101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64

In [58]:
# Task 6
#The car dealer needs to add three new cars with the row indexes 201, 202, and 203 priced at $34,000, $45,000, and $54,000, respectively. Update the existing data and display the prices along with the row indexes for all cars.

new_price=[34000,45000,54000]
new_car=[201,202,203]
new_data=pd.Series(new_price,index=new_car)
new_data

pd.concat([price_series,new_data])

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
201    34000
202    45000
203    54000
dtype: int64

In [10]:
#Task 7
#The car dealer is offering a discount of 20% on the cars priced above $60,000. Display the row indexes along with the original and discounted prices of all such cars.

discounted_cars = price_series[price_series> 60000]
discounted_cars2= discounted_cars* 0.2

#Combine the original and discounted prices into a DataFrame
result_df = pd.DataFrame({ 'Original Price': discounted_cars, 'Discounted Price': discounted_cars2)

print(result_df)

     Original Price  Discounted Price
101           80121           16024.2
105           68536           13707.2
107           78703           15740.6
112           93822           18764.4
114           93947           18789.4
115           78373           15674.6
116           62765           12553.0
120           83197           16639.4

In [14]:
# Task 8
#The cars priced above $60,000 are now sold due to the 20% discount offered by the dealer. Update the data by deleting the details of the cars sold and print the updated data. Display the count of cars before and after the updating of the data

#Calculating the discounted prices for cars priced above $60,000 
discounted_prices=price_series* (price_series> 60000)*0.2

#Deleting the rows of cars priced above $60,000 with the 20% discount 
car_prices= price_series.drop(discounted_prices[discounted_prices>0].index)

#Displaying the updated data
print("Updated data after selling cars priced above $60,000:") 
print(car_prices)

# Getting the count of cars before and after the update using shape 
count_before_update= price_series.shape[0] + discounted_prices [discounted_prices > 0].shape[0] 
count_after_update= price_series.shape[0] 
print("Count of cars before update:", count_before_update) 
print("Count of cars after update:", count_after_update)

Updated data after selling cars priced above $60,000:
102    48483
103    37077
104    30660
106    52666
108    51036
109    55643
110    56990
111    39967
113    51406
117    47536
118    40528
119    58780
dtype: int64
Count of cars before update: 28
Count of cars after update: 20