In [1]:
import pandas as pd
import numpy as np

data=pd.read_csv(r"C:\Users\Jishanth M I\Downloads\DS1_C4_S4_Used_Car_Prices_Data_Challenge.csv")
data

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [2]:
# Task 1
# Load the data into a data frame and check for missing values. Drop the rows with missing values and proceed with the cleaned- up data for the subsequent tasks.



# Display the count of missing values for each column
missing_values = data.isnull().sum()
print("Missing Values:\n", missing_values)

# Drop rows with any missing values
cleaned_data = data.dropna()

# Display the shape of the cleaned data
print("\nShape of Cleaned Data:", cleaned_data.shape)

Missing Values:
 year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mp                  0
Arrival_Date       25
dtype: int64

Shape of Cleaned Data: (472336, 14)

In [41]:
# Task 2
# Thomas, a potential customer from California, is interested in buying a low-priced car, manufactured in 2014. John needs to identify 100 lowest priced cars from the year 2014 with CA as the state of registration. Help John create and display the details of potential cars.


# Filter for cars with the specified year and state
filtered_cars = data[(data['year'] == 2014) & (data['state'] == 'ca')]

# Sort the filtered cars by price in ascending order
sorted_cars = filtered_cars.sort_values(by='mp',ascending=True)[:100]

sorted_cars

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
179673,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,2.4,78882.0,white,black,nissan motor acceptance corporation,6175,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
494101,2014,Mitsubishi,Mirage,DE,hatchback,automatic,ca,4.3,24002.0,silver,black,black/white auto sales,7225,Wed Jun 03 2015 05:15:00 GMT-0700 (PDT)
477609,2014,Nissan,Versa,1.6 SV,sedan,automatic,ca,4.1,43948.0,black,black,consumer portfolio services,7425,Wed Jun 03 2015 05:30:00 GMT-0700 (PDT)
444039,2014,Nissan,Versa,1.6 SV,Sedan,manual,ca,3.0,44854.0,black,black,bmw alphera/alphera financial services,7525,Tue Jun 02 2015 05:30:00 GMT-0700 (PDT)
543536,2014,smart,fortwo,passion coupe,hatchback,automatic,ca,4.8,3575.0,â€”,black,mercedes-benz financial services,7900,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457262,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.9,8857.0,gray,black,santander consumer,9675,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
379472,2014,Ford,Fiesta,SE,Hatchback,automatic,ca,4.3,45661.0,red,black,avis corporation,9675,Tue Mar 03 2015 04:45:00 GMT-0800 (PST)
60893,2014,Toyota,Yaris,LE,Hatchback,automatic,ca,2.0,32691.0,red,black,enterprise vehicle exchange / tra / rental / t...,9675,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
442576,2014,smart,fortwo,electric drive coupe,Hatchback,automatic,ca,4.8,4171.0,white,gray,mercedes-benz financial services,9700,Wed May 27 2015 05:30:00 GMT-0700 (PDT)
543472,2014,Nissan,Versa Note,1.6 SV,hatchback,automatic,ca,4.2,16241.0,â€”,black,nissan motor acceptance corporation,9700,Tue Jun 16 2015 05:30:00 GMT-0700 (PDT)

In [4]:
# Task 3
# Thomas is confused looking at the long list of 100 cars. Help John to display the output in a cross table based on the car manufacturers and prices.


# Use the crosstab function to create the cross table
cross_table = pd.crosstab(index=data['make'], columns='mp', values=data['mp'], aggfunc='mean')

print(cross_table)

col_0                   mp
make
Acura         14076.813252
Aston Martin  53560.000000
Audi          20080.213835
BMW           21575.547806
Bentley       75928.448276
...                    ...
subaru         3911.666667
suzuki         4805.000000
toyota         7367.631579
volkswagen     5984.375000
vw            13847.916667

[96 rows x 1 columns]

In [5]:
# Task 4
# Thomas is particularly interested in Chevrolet cars. Eric is willing to offer a 10% discount on Chevrolet cars from the list of 100 cars identified in the previous tasks.
#Display the updated data with only Chevrolet cars with their original prices and discounted prices.
    
    
# Filter Chevrolet cars and calculate discounted prices
chevrolet_cars = sorted_cars[sorted_cars['make'] == 'Chevrolet']
chevrolet_cars['discounted_price'] = chevrolet_cars['mp'] * 0.9

# Display the updated data
print(chevrolet_cars[['model', 'mp', 'discounted_price']])

        model    mp  discounted_price
518957  Spark  8400            7560.0
473427  Spark  8500            7650.0
80892   Spark  8700            7830.0
2191    Spark  8950            8055.0
44314   Spark  9050            8145.0
531030  Sonic  9150            8235.0
258946  Sonic  9250            8325.0
471595  Spark  9325            8392.5
125534  Sonic  9450            8505.0
44341   Spark  9500            8550.0
456227  Sonic  9500            8550.0
456215  Sonic  9550            8595.0
229362  Spark  9550            8595.0
391429  Spark  9625            8662.5
105924  Sonic  9625            8662.5
125525  Spark  9650            8685.0

C:\Users\Jishanth M I\AppData\Local\Temp\ipykernel_14832\3979729735.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chevrolet_cars['discounted_price'] = chevrolet_cars['mp'] * 0.9

In [6]:
# Task 5
# Thomas and several other customers seem to be interested in the cars with black or gray colored interiors. John wants to figure out if the cars with interiors in black or gray are priced higher or lower than cars having interiors of other colors.
#Determine the average price of all the 100 lowest priced cars from the year 2014 based on their interior colors.


#Filter cars from the year 2014
year_2014_cars = data[data['year'] == 2014]

# Sort by price in ascending order
lowest_priced_cars = year_2014_cars.sort_values(by='mp', ascending=True)[:100]

# Calculate the average price for each interior color category
average_price_by_color = lowest_priced_cars.groupby('interior')['mp'].mean()

print(average_price_by_color)

interior
black    7701.102941
gray     8011.607143
â€”        8093.750000
Name: mp, dtype: float64

In [28]:
# Task 6
# Most buyers seem to prefer white and black colored cars. John wants to analyze color-wise availability of cars, for each manufacturer from the years 2010-15.


# Filter data for the years 2010-2015
filtered_data = data[(data["year"] >= 2010) & (data["year"] <= 2015)]

# Group data by manufacturer and color, and then count occurrences
color_counts = filtered_data.groupby(['make', 'color']).size().reset_index(name='Count')

color_counts

      make     color  Count
0    Acura     beige      1
1    Acura     black   1031
2    Acura      blue     99
3    Acura     brown     12
4    Acura  burgundy     94
..     ...       ...    ...
710     vw     brown      1
711     vw      gray      2
712     vw    silver      1
713     vw     white      2
714     vw         â€”     10

[715 rows x 3 columns]

In [37]:
# Task 7
# Eric, another customer is interested in a good condition BMW Sedan manufactured between 2010 and 2015. John wants to display the details of all such cars that have a condition score >=4.5. Help John to figure out of the year-wise maximum expected price (mp) of the above BMW cars manufactured between the year 2010 and 2015 grouped by each model.


# Filter cars based on condition and year
filtered_cars = data[(data['condition'] >= 4.5) & (data['year'].between(2010, 2015))]

# Group by model and year, and find the max expected price
max_expected_prices = filtered_cars.groupby(['model', 'year'])['mp'].max()

max_expected_prices

model     year
1 Series  2010    20400
          2011    23800
          2012    29900
          2013    33800
1500      2011    28600
                  ...
xB        2013    13800
          2014    16100
xD        2012    11500
          2013    12850
          2014    14600
Name: mp, Length: 1589, dtype: int64

In [43]:
# Task 8
#John wants to recommend Eric to also consider SUVS from other manufacturers before finalizing the car. 
#John needs to list the top 100 SUVS available between the years 2010 and 2015, based on their prices (in descending order) with an odometer reading <= 30000.


# Filter SUVs between 2010 and 2015 with an odometer reading <= 30000
filtered_suv_data = data[(data['year'] >= 2010) & (data['year'] <= 2015) & (data['odometer'] <= 30000)]

# Sort the filtered SUVs by price in descending order
sorted_suv_data = filtered_suv_data.sort_values(by='mp', ascending=False).head(100)

sorted_suv_data

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
548169,2011,Ferrari,458 Italia,Base,coupe,automatic,fl,4.6,12116.0,red,black,platinum motor cars,182000,Wed Jun 17 2015 03:40:00 GMT-0700 (PDT)
545523,2013,Rolls-Royce,Ghost,Base,sedan,automatic,fl,4.2,7852.0,white,beige,flag/landrover southpointe,178000,Wed Jun 17 2015 03:05:00 GMT-0700 (PDT)
146917,2014,BMW,i8,Base,Coupe,automatic,ca,5.0,60.0,white,brown,ferrari of orange county,176000,Thu Jan 15 2015 04:00:00 GMT-0800 (PST)
239360,2014,BMW,i8,Base,Coupe,automatic,ca,4.8,124.0,white,black,pacoima motors,172000,Thu Feb 12 2015 12:30:00 GMT-0800 (PST)
239357,2014,BMW,i8,Base,Coupe,automatic,fl,5.0,530.0,gray,brown,auto plaza motor sports llc,170000,Tue Feb 10 2015 04:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6501,2012,Bentley,Continental GT,Base,Coupe,automatic,ca,4.6,21689.0,black,black,phillips auto brokerage,115000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
134022,2012,Bentley,Continental GT,Base,Coupe,automatic,ca,4.1,18386.0,black,beige,fratelli investment group,115000,Thu Jan 15 2015 04:00:00 GMT-0800 (PST)
362025,2014,Porsche,Cayenne,Turbo S,SUV,automatic,fl,4.9,506.0,black,tan,platinum motor cars,114000,Thu Feb 26 2015 01:40:00 GMT-0800 (PST)
283749,2013,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,4.4,23663.0,gray,black,honda of pasadena,114000,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
148296,2012,Mercedes-Benz,SLS AMG,Base,Coupe,automatic,ca,2.7,9289.0,black,black,high bid trading co inc,112000,Thu Jan 15 2015 04:00:00 GMT-0800 (PST)